$black : #000000;
$oxford-blue : #14213D;
$orange-web : #FABB51;
$platinum : #E5E5E5;
$white :#FFFFFF;
$green-cool : #7FC8A9;
$dark: #314E52;
$red-maps:#dc4634;
$grey:#e9e9e7;
$green-young: #0b8793;


